#banner h1{
  text-align:center;
  font-family:Verdana;
  color: #592C63;
  background-color:rgb(255, 255, 255);
  font-size:48px;
  padding:45px;
  border-radius:15px;
  border:5px solid #4F284B;
}
a{
  text-decoration:none;
  color:#5a1e67;
  text-shadow:#583155
}
nav{
  display:flex;
  background-color:rgb(255, 255, 255);
  color:white;
  font-size:34px;
  font-family:Verdana;
  border:3px solid #481553;
  border-radius:5px;
}
.container nav{
  display:flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align:center;
}
#here{
  color:#77118e
}
body{
  background-image:url(https://a.cdn-hotels.com/gdcs/production172/d1381/8efd3f69-63bb-4398-a595-095cea25fc37.jpg);
  background-repeat:no-repeat;
  background-size:2000px;
}
a:hover{
  background-color: #481553;
}
