#banner h1{
  text-align:center;
  font-family:Verdana;
  color: #75d26f;
  background-color:rgb(255, 255, 255);
  font-size: 48px;
  padding:45px;
  border-radius:15px;
  border:5px solid #287a37;
}
a{
  text-decoration:none;
  color:#8de087;
  text-shadow:#287a37
}
a:hover{
  background-color: #287a37;
}
nav{
  display:flexbox;
  background-color:rgb(255, 255, 255);
  color:white;
  font-size:34px;
  font-family:Verdana;
  border:3px solid #287a37;
  border-radius:5px;
}
.container nav{
  display:flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align:center;
}
#here{
  color:#2aaa09
}
body{
  background-image:url(https://guidable.co/wp-content/uploads/2022/03/japanese-history.jpg);
  background-repeat:no-repeat;
  background-size:1914px;
}
h3{
  align-items: center;
  color:#8de087;
  background-color: #fffeda;
  border: 2px solid #2aaa09;
  border-radius:7px;
  font-family:Verdana;
}
.container{
  font-family:Verdana;
}
#jomon{
  display:flex;
}
