#banner h1{
  text-align:center;
  font-family:Verdana;
  color: #75d26f;
  background-color:rgb(255, 255, 255);
  font-size:67px;
  padding:67px;
  border-radius:15px;
  border:5px solid #287a37;
}
a{
  text-decoration:none;
  color:#75d26f;
  text-shadow:#287a37
}
nav{
  display:flex;
  background-color:rgb(255, 255, 255);
  color:white;
  font-size:58px;
  font-family:Verdana;
  border:5px solid #287a37;
  border-radius:15px;
}
.container nav{
  display:flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align:center;
}
#here{
  color:#2aaa09
}