#banner h1{
  text-align:center;
  font-family:Verdana;
  color: #e16b8c;
  background-color:rgb(255, 255, 255);
  font-size:67px;
  padding:67px;
  border-radius:15px;
  border:5px solid #8E354A;
}
.container div{
  background-color:rgb(255, 255, 255);

}
.container nav{
  display:flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align:center;
}
a:hover{
  text-shadow:#8E354A
}
nav{
  display:flex;
  background-color:rgb(255, 255, 255);
  color:white;
  font-size:58px;
  font-family:Verdana;
  border:5px solid #8E354A;
  border-radius:15px;
}
a{
  text-decoration:none;
  color:#e16b8c;
  text-shadow:#8E354A

}
body{
  background-image:url(https://i.pinimg.com/originals/a7/55/77/a755770d6931a48bff8f5fe80dd2b064.jpg);
  background-repeat:no-repeat;
  background-size:2150px;
}
h3{
  background-color:white;
  color: #aa526b;
  padding:3px;
  border:2px solid #8E354A;
  border-radius:5px;
  display:flex;
}
#here{
  color:#ff3b72
}