#banner h1{
  font-family:Verdana;
  color: #e16b8c;
  background-color:#8E354A;
  padding:10px;
  border:5px solid #8E354A;
  font-size: 20px;
  margin:0;
}
#information{
  background-color:rgba(255, 255, 255, 0.642);
  border:3px solid #8E354A;
  display:flex;
  padding:5px;
}
.container nav{
  display:flex;
  list-style-type: none;
  margin: 0;
  text-align:center;
}
a:hover{
  background-color: #8E354A;
  text-shadow:5px black


}
nav{
  display:flex;
  background-color:rgb(255, 255, 255);
  color:white;
  font-size:25px;
  font-family:Verdana;
  border:3px solid #8E354A;
  border-radius:1px;
}
a{
  text-decoration:none;
  color:#e16b8c;
  text-shadow:#8E354A

}
body{
  background-image:url(https://i.pinimg.com/originals/a7/55/77/a755770d6931a48bff8f5fe80dd2b064.jpg);
  background-repeat:no-repeat;
  background-size:2150px;
}
h3{
  background-color:white;
  color: #aa526b;
  padding:3px;
  border:2px solid #8E354A;
  border-radius:5px;
  display:flex;
}
#here{
  color:#ff3b72
}
img:hover{
  box-shadow:black;
  transition-duration:5s;
}
p{
  color:white;
  font-size: 46px;
}